body{
    background-color: aqua;
  }
  dt{
    color:coral;
  }
  hr{
    border-style: none;
    border-top-style: dashed;
    border-top-width:2px;
    color:aqua;
    width:99%;
  }
  h1,h2{
    color: #EB4747;
  }
  h5{
    color:#635666;
  }
  div{
    background-color: crimson;
    color: aliceblue;
  }
  /********************************************classes***********************************/
  .newclass{
    color:chartreuse;
    background-color: chocolate;
  }
  .pseudo:hover{
    background-color: blueviolet;
  }
  .redbox{
    background-color: red;
    border-width:10px;
    border-style:solid ;
    border-color: black;
    padding:20px;
    width:200px;
    height:200px;
  }
  .yellowbox{
    background-color: yellow;
    border-width:20px;
    border-style:solid ;
    border-color: black;
    margin:0px 0px 0px 260px;
    width:200px;
    height:200px;
  }
  .orangebox{
    background-color: orange;
    border-width:10px;
    border-style:solid ;
    border-color: black;
    margin:0px 0px 0px 500px;
    width:200px;
    height:200px;
  }
  .box{
    background-color: white;
    margin-right: 500px;
    width:720px;
  }
  .span{
    color:aqua;
    background-color: brown;
  }
  /********************************************classes***********************************/
  #newid{
    color:green;
  }
  